.collapsible {
  background-color: var(--secondary-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-color: transparent;
  border-radius: 10px;
  text-align: left;
  color: #fff;
}

.collapsible:hover {
  background-color: var(--tertiary-color);
}
