.collapsible {
  background-color: #48b1bd;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-color: transparent;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.collapsible:hover {
  background-color: #3a919b;
}
