.collapsible {
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: solid var(--tertiary-color) 1px;
  border-radius: 10px;
  text-align: left;
  color: var(--primary-color);
}

.collapsible:hover {
  border-color: var(--secondary-color);
}
