.componentGroup {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.componentImg {
  width: 40%;
}
.componentImgOpaque {
  width: 40%;
  opacity: 0.4;
}

.productLink:hover {
  border-bottom: 2px black solid;
}
