.componentGroup {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.componentProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.componentImg {
  width: 40%;
}
.componentImgOpaque {
  width: 40%;
  opacity: 0.4;
}

.productLink {
  color: var(--primary-color);
  font-size: 20px;
}

.productLink:hover {
  border-bottom: 2px var(--secondary-color) solid;
}

@media (max-width: 1200px) {
  .componentImg,
  .componentImgOpaque {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .componentGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .componentImg,
  .componentImgOpaque {
    width: 80%;
  }
}
