.footer {
  color: #fff;
  width: 100%;
  padding: 30px 0;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.footerLink {
  color: #fff;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address p {
  margin: 0;
}

.social ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .address {
    align-items: center;
  }

  .social ul {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
}
