.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.logo {
  width: 25%;
  display: block;
}

@media (max-width: 1200px) {
  .logo {
    width: 50%;
  }
}
