.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.flex {
  align-items: flex-start;
  flex-direction: column;
}

.flexGrid {
  display: flex;
  justify-content: space-around;
}
