/* Navbar */
.navbar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding-bottom: 0;
  padding-top: 20px;
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mainImg {
  width: 40%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  margin: 0 50px;
  font-size: 22px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

@media (max-width: 1200px) {
  .navbar {
    height: 110px;
  }

  .sideImgRight,
  .sideImgLeft,
  .brImg {
    display: none;
  }

  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar img {
    margin-right: 0;
    margin-bottom: 10px;
    width: 20%;
  }

  .navbar a {
    margin: 100px 10px;
  }
}

@media (max-width: 500px) {
  .navbar img {
    width: 40%;
  }
}
