/* Navbar */

.navbar {
  padding-bottom: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.mainImg {
  width: 40%;
}

.sideImgRight {
  width: 30%;
  align-self: flex-start;
  margin: 0;
}

.brImg {
  width: 17%;
  margin: 0;
}

.sideImgLeft {
  width: 30%;
  align-self: flex-end;
  margin: 0;
}

.navbar .imgLink {
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
}

.navbar .imgLink:hover {
  border-bottom-style: none;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 100px;
  font-size: 22px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

@media (max-width: 1200px) {
  .navbar {
    height: 110px;
  }

  .sideImgRight,
  .sideImgLeft,
  .brImg {
    display: none;
  }

  .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar img {
    margin-right: 0;
    margin-bottom: 10px;
    width: 20%;
  }

  .navbar a {
    margin: 100px 10px;
  }
}

@media (max-width: 500px) {
  .navbar img {
    width: 40%;
  }
}
