.container {
  margin: 100px 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
}

.productImg {
  width: 50%;
  margin-bottom: 50px;
}

.subproductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subproducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  color: #ffff;
}

.link:hover {
  border-bottom: 2px #ffff solid;
}

@media (max-width: 1200px) {
  .title {
    align-self: center;
  }

  .productImg {
    width: 80%;
  }

  .subproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .productImg {
    width: 100%;
  }
}
