.statementTitle {
  text-align: center;
  margin: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding-bottom: 20px;
}

.statementFoxes {
  width: 60%;
  margin: 0;
}

.statementParagraph {
  text-align: justify;
}

.statementBeads {
  width: 50%;
  border-radius: 50%;
}

.wrapperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    padding: 20px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .statementParagraph {
    text-align: center;
  }

  .statementRoni {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .statementImg {
    width: 80%;
  }
}
